<a-ui panel-size="1 1" render-size="3.3 3.3" render-resolution="2048 2048">

    <a-ui-scroll-pane position="0 0 0" width="3.0" height="3.0" scroll-z-offset="0.001" look-controls-el="#camera">

        <a-entity class="container">

            <!--Introduction-->
            <a-entity width="2.9">

                <a-ui-text font-size="20" value="Introduction"></a-ui-text>
                <a-ui-text font-size="14" value="Here we have some material UI based primitives and components for use in your aframe projects."></a-ui-text>
                <a-ui-text font-size="20" value="Scroll Pane"></a-ui-text>
                <a-ui-text font-size="14" value="All of these primitive elements are enclosed inside a scroll pane. Elements out of view are automatically clipped. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></a-ui-text>

            </a-entity>

            <!-- Left Panel -->
            <a-entity width="1.35">

                <!-- Buttons -->
                <a-entity width="1.25">

                    <a-ui-text font-size="20" value="Buttons"></a-ui-text>

                    <a-ui-button class="intersectable" text-value="Button" ui-rounded="borderRadius:0.025;"></a-ui-button>
                    <a-ui-button class="intersectable" text-value="Disabled" ui-rounded="borderRadius:0.025;" disabled="true" font-color="#cfcfcf" color="#efefef"></a-ui-button>

                </a-entity>

                <!--Checkbox-->
                <a-entity width="1.25">
                    <a-ui-text font-size="20" value="Checkbox"></a-ui-text>
                    <a-ui-checkbox ></a-ui-checkbox>
                    <a-ui-checkbox value="true" ></a-ui-checkbox>
                    <a-ui-checkbox indeterminate="true" ></a-ui-checkbox>
                    <a-ui-checkbox disabled="true" ></a-ui-checkbox>
                </a-entity>

                <!--Switch-->
                <a-entity width="1.25">
                    <a-ui-text font-size="20" value="Switch"></a-ui-text>
                    <a-ui-switch></a-ui-switch>
                    <a-ui-switch disabled="true"></a-ui-switch>
                </a-entity>

                <!--Radio Group-->
                <a-entity width="1.25">
                    <a-ui-text font-size="20" value="Radio"></a-ui-text>
                    <a-ui-radio></a-ui-radio>
                    <a-ui-radio selected="true"></a-ui-radio>
                    <a-ui-radio></a-ui-radio>
                    <a-ui-radio disabled="true"></a-ui-radio>
                </a-entity>

                <!-- Slider -->
                <a-entity width="1.25">

                    <a-ui-text font-size="20" value="Slider"></a-ui-text>

                    <a-ui-slider camera-el="#camera" value="0.5"></a-ui-slider>

                </a-entity>

            </a-entity>

            <!-- Right Panel -->
            <a-entity width="1.35">

                <!--Text Input-->
                <a-entity width="1.25">
                    <a-ui-text font-size="20" value="Text"></a-ui-text>
                    <a-ui-input-text camera-el="#camera" width="1" height="0.2" value=""></a-ui-input-text>
                </a-entity>

                <!--Number Input-->
                <a-entity width="1.25">
                    <a-ui-text font-size="20" value="Number"></a-ui-text>
                    <a-ui-input-text camera-el="#camera" width="0.45" height="0.2" type="number" value="0.00" place-holder="Number..."></a-ui-input-text>
                    <a-ui-number></a-ui-number>
                </a-entity>

                <!--Int Input-->
                <a-entity width="1.25">
                    <a-ui-text font-size="20" value="Integer"></a-ui-text>
                    <a-ui-input-text camera-el="#camera" width="1" height="0.2" type="int" value="10" place-holder="Whole Number..."></a-ui-input-text>
                </a-entity>

                <!--Password Input-->
                <a-entity width="1.25">
                    <a-ui-text font-size="20" value="Password"></a-ui-text>
                    <a-ui-input-text camera-el="#camera" width="1" height="0.2" type="password" place-holder="Password..."></a-ui-input-text>
                </a-entity>

                <!--Ripple-->
                <a-entity width="1.25">
                    <a-ui-text font-size="20" value="Ripple"></a-ui-text>
                    <a-plane class="intersectable" shader="flat" width="0.25" height="0.2" color="#673ab7" ui-ripple="size:0.25 0.2;clampToSquare:true;zIndex:0.001;color:white;"></a-plane>
                    <a-triangle class="intersectable" shader="flat" vertex-a="0 0.075 0" vertex-b="-0.075 -0.075 0" vertex-c="0.075 -0.075 0" color="#ec407a" ui-ripple="size:0.15 0.15;zIndex:-0.001;color:#f48fb1; duration:500;fadeDuration:250;"  width="0.25" height="0.2"></a-triangle>
                </a-entity>

                <a-entity width="1.25">
                    <a-ui-text font-size="20" value="Floating Action Buttons"></a-ui-text>
                    <a-ui-fab-button class="intersectable" color="#f44336"></a-ui-fab-button>
                    <a-ui-fab-button-small class="intersectable" color="#2196f3"></a-ui-fab-button-small>
                    <a-ui-fab-button-small class="intersectable" disabled="true" color="#afafaf" ripple-color="#afafaf"></a-ui-fab-button-small>
                </a-entity>

            </a-entity>

        </a-entity>

    </a-ui-scroll-pane>

</a-ui>