html,body {
    font-family: 'Arial', serif;
    font-size: 14px;
    font-weight: 300;
}
.hero.is-success {
    background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.box {
    margin-top: 2rem;
}
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}
.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
    font-weight: 300;
}
p {
    font-weight: 700;
}
p.subtitle {
    padding-top: 1rem;
}

/*.facebook-login-button {
    background-color: #4C69BA;
    color: #FFF;
}*/

/* Facebook */
.facebook-login-button {
    background-color: #4C69BA;
    color: #FFF;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}
.facebook-login-button:before {
    border-right: #364e92 1px solid;
    background: url('../images/icon_facebook.png') 6px 6px no-repeat;
}
.facebook-login-button:hover,
.facebook-login-button:focus {
    background-color: #5B7BD5;
    color: #FFF;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}